################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/movement/make/build
/movement/make/build-sim
/x64/Debug
